/* Body */

.back {
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}




/* Header */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgb(255, 255, 255);
    display: flex;
    z-index: 100;
}

.navbar {
    padding-right: 0px;
    top: 0;
    padding-left: 5px;
    padding-right: 5px;
}





/* Main Body */

.main {
    padding-top: 3vh;
}




/* Side Index */

.introduction {
    background: transparent;
    width: 100%;
    background-size: 500% auto;
    animation: introductionMove 0.7s ease-in 1 alternate;
}

@keyframes introductionMove {
    0% {
        background-position: 0% 50%;
        -webkit-transform: rotateX(100deg);
    }

    100% {
        background-position: 100% 50%;
    }
}

.sideText{
    background: linear-gradient(to right, rgb(0, 85, 205) 0%, rgba(0, 106, 255, 0.837) 80%,  rgba(0, 106, 255, 0.682)94%, rgba(0, 106, 255, 0.576)100%);
    /* background: rgb(0, 106, 255);  */
    width: 200px;
    border-left: 3px solid rgb(0, 0, 0); 
    padding-left: 5px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}




/* Biography */


.imageCard {
    background: transparent;
    box-shadow: 0px 0px 1000px 70px rgb(0, 200, 255);
    border-top-left-radius: 5%;
    border-bottom-right-radius: 5%; 
    border-bottom-left-radius:50px; 
    border-top-right-radius: 50px; 
    align-items: center;
    color: white;
    height: auto;
    width: 280px;
    margin-top: 15vh;
    margin-left: 7px;
}

.photo{
    border-top-left-radius: 5%;
    border-bottom-right-radius: 5%; 
    border-bottom-left-radius:50px; 
    border-top-right-radius: 50px; 
    height: auto; 
    width: 280px;
}


.heading {
    font-weight: bold;
    font-size: 30px;
    background: linear-gradient(to right, rgb(0, 200, 255) 0%, rgb(108, 0, 181) 30%, rgb(21, 0, 255)60%, rgb(0, 11, 60)90%, rgb(0, 0, 0)100%);
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 500% auto;
    -webkit-text-fill-color: transparent;
    animation: headingText 1.8s ease-in-out infinite alternate-reverse;
}

@keyframes headingText {
    0% {
        background-position: 0% 50%;
        font-size: 1.2rem;
    }

    100% {
        background-position: 100% 50%;
    }
}

.position {
    font-size: 18px;
    background: linear-gradient(to right, rgb(0, 42, 255) 0%, rgb(19, 0, 142) 40%, rgb(7, 0, 85)60%, rgb(0, 0, 0)100%);
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 500% auto;
    -webkit-text-fill-color: transparent;
    animation: positionText 1.5s ease-in-out infinite alternate-reverse;
    padding-right:10px;
    margin-left: 0px;
}

@keyframes positionText {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

.infoCard {
    background: transparent;
    border: 1px solid rgb(201, 201, 201);
    box-shadow: 19px 19px 12px 0px rgb(0, 200, 255);
    align-items: center;
    border-left: 5px solid rgb(23, 0, 199);
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 4vw;
    margin-right: 4vw;
    margin-top: 3vh;
    animation: infoMove 1.5s ease-in-out 0.5s 4 alternate;
}

.infoCard:hover {
    background: linear-gradient(to right, rgb(208, 242, 255)0%, rgb(255, 255, 255)100%);
    background-size: 500% auto;
    animation: infoHover 0.7s ease-in-out 3 alternate-reverse
}

@keyframes infoHover {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}


#infoSwap {
    animation-timing-function: linear;
}

@keyframes infoMove {
    0% {
        left: 0px;
    }

    20% {
        left: 5px;
    }

    40% {
        left: 10px;
    }

    60% {
        left: 15px;
    }

    80% {
        left: 20px;
    }

    90% {
        left: 25px;
    }

    100% {
        left: 30px;
    }

    90% {
        left: 25px;
    }

    80% {
        left: 20px;
    }

    60% {
        left: 15px;
    }

    40% {
        left: 10px;
    }

    20% {
        left: 5px;
    }

    0% {
        left: 0px;
    }

}


a .iconDesign {
    color: rgb(0, 4, 255);
}

a .iconDesign:hover {
    -webkit-text-fill-color: rgb(255, 255, 255);

}

.icon {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-left: 5vw;
    margin-top: 5vh;
    font-size: 35px;


}

.icon:hover {
    background: linear-gradient(to right, rgb(0, 19, 34) 0%, rgb(19, 0, 142) 40%, rgb(116, 204, 255)60%, rgb(213, 213, 213)100%);
    cursor: pointer;
    font-size: 2.4rem;
    background-size: 500% auto;
    -webkit-text-fill-color: rgb(255, 255, 255);
    animation: iconHover 0.5s ease-in-out 1 alternate-reverse;

}

@keyframes iconHover {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}




/* Education */

.educationCard {
    background: transparent;
    border-bottom: none;
    border-right: none;
    border-top: none;
}

.educationCard:hover {
    border: 1px solid rgb(228, 228, 228);
}

.iconEducationDesign {
    font-size: 100px;
}




/* Projects */

.projectsCard {
    padding-left: 20px;
    padding-right: 30px;
    padding-top: 10px;
    background-size: 500% auto;
    background-color: transparent;
    animation: project 1s ease-in-out 0.5s infinite alternate-reverse forwards;
}

.projectsCard:hover {
    top: 0px;
    cursor: pointer;
    animation: none;
    position: relative;
    -webkit-text-fill-color: black;

}

@keyframes project {
    0% {
        top: 0px;
    }

    50% {
        top: 10px;
    }

    100% {
        top: 20px;
    }

    50% {
        top: 10px;
    }
}




/* Work Experiance */

.experianceCard {
    background: linear-gradient(0deg, rgb(138, 138, 138)0%, rgb(255, 248, 248)25%, rgb(255, 255, 255)100%);
    border-left: 5px solid rgb(150, 150, 150);
    box-shadow: 15px 15px 25px 0px rgb(59, 59, 59);
    margin-bottom: 5px;
    animation: experianceMove 1s linear infinite alternate-reverse;
}

.experianceCard:hover {
    animation: none;
}

@keyframes experianceMove {
    0% {
        left: 0px;
    }

    20% {
        left: 5px;
    }

    40% {
        left: 10px;
    }

    60% {
        left: 15px;
    }

    80% {
        left: 20px;
    }

    90% {
        left: 25px;
    }

    100% {
        left: 30px;
    }

    90% {
        left: 25px;
    }

    80% {
        left: 20px;
    }

    60% {
        left: 15px;
    }

    40% {
        left: 10px;
    }

    20% {
        left: 5px;
    }

    0% {
        left: 0px;
    }

}


.experianceCardText {
    background: linear-gradient(to right, rgb(0, 0, 0) 0%, rgb(74, 74, 74) 40%, rgb(98, 0, 0)60%, rgb(9, 0, 75)100%);
    -webkit-background-clip: text;
    background-clip: text;
    background-size: 500% auto;
    -webkit-text-fill-color: transparent;
    animation: experianceCardTextMove 1s linear infinite alternate-reverse;

}

.experianceCardText:hover {
    background-clip: text;
    color: black;
    -webkit-text-fill-color: black;
}

@keyframes experianceCardTextMove {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}




/* Technical Skills */

.iconSkillsDesign {
    font-size: 80px;
    color: green;
}


.skillsCard {
    font-size: 20px;
    margin-top: 0px;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px;
}

.skillsCard:hover {
    font-size: 1.4rem;
    border-left: 4px solid rgb(0, 0, 0);
    border: none;
}

progress {
    max-width: 90%;
    height: 10px;
    border: none;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 2px;
}

progress::-webkit-progress-bar {
    background-color: white;
}

progress::-webkit-progress-value {
    background-color: rgb(29, 27, 27);
}




/* Contact Me */

.contactMe {
    display: flex;
    margin-top: 3vh;
    border: 1px solid rgb(201, 201, 201);
    border-left: 5px solid rgb(23, 0, 199);
    border-right: none;
    border-top: none;
    padding: 3px;
    margin-top: 3vh;
    cursor: pointer;
}

.contactMe:hover {
    background: linear-gradient(to right, rgb(229, 229, 229)0%, rgb(255, 255, 255)100%);
    background-size: 500% auto;
    border-left: 4px solid rgb(0, 0, 0);
    animation: contactMeHover 0.7s ease-in-out infinite alternate-reverse;
}

@keyframes contactMeHover {
    0% {
        background-position: 0% 50%;
        -webkit-transform: rotate(10deg);
        -webkit-text-fill-color: rgb(250, 0, 0);
        border-left: 4px solid rgb(0, 113, 6);


    }

    100% {
        background-position: 100% 50%;
        -webkit-transform: rotate(-10deg);
        -webkit-text-fill-color: rgb(25, 0, 255);
        border-left: 4px solid rgb(0, 247, 255);
        border-right: none;
        border-top: none;
        border-bottom: none;
    }
}

.contactMeThanks {
    animation: infoMove 1.5s ease-in-out 0.5s 4 alternate;
}




/* Footer */

.footer {
    background: rgb(246, 246, 246);
    padding-top: 10px;
    padding-bottom: 1px;
    color: black;
}




/* Extra */

p {
    font-size: 18px;
    margin-left: 15px;
}